.patient-card__header {
	display: flex;
	gap: 20px;
	width: 100%;
}

.patient-card__icon {
	height: 45px;
	width: 45px;
	position: relative;
}

.patient-card__avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid var(--border-default);
}

.patient-card__data {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.patient-card__name {
	color: var(--text-primary);
	font-size: 1.2rem;
}

.patient-card__website {
	color: var(--text-secondary);
	font-size: 0.8rem;
}

.patient-card__collapse-button {
	flex: 1;
	display: flex;
	justify-content: end;
	align-items: center;
}