#root {
  width: 100%;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 2rem 0;
}