:root {

  /* =========================
       BRAND COLORS
       ========================= */

  --color-primary-700: #0E7490;
  /* Deep teal */
  --color-primary-500: #14B8A6;
  /* Main CTA */
  --color-primary-300: #5EEAD4;
  --color-primary-100: #CCFBF1;
  --color-primary-50: #ECFEFF;

  /* =========================
       NEUTRALS
       ========================= */
  /* Headings */
  --color-neutral-900: #0F172A;
  /* Body text */
  --color-neutral-700: #334155;
  /* Secondary text */
  --color-neutral-500: #64748B;
  /* Borders */
  --color-neutral-300: #CBD5E1;
  /* Page background */
  --color-neutral-100: #F1F5F9;
  --color-white: #FFFFFF;

  /* =========================
       STATUS COLORS
       ========================= */

  --color-success: #2E7D32;
  --color-error: #C62828;
  --color-warning: #ED6C02;
  --color-info: #0288D1;

  /* =========================
       SEMANTIC TOKENS
       ========================= */

  --bg-page: var(--color-neutral-100);
  --bg-card: var(--color-white);

  --text-primary: var(--color-neutral-900);
  --text-secondary: var(--color-neutral-700);
  --text-muted: var(--color-neutral-500);

  --border-default: var(--color-neutral-300);

  --button-primary-bg: var(--color-primary-500);
  --button-primary-hover: var(--color-primary-700);
  --button-primary-text: var(--color-white);

  --button-secondary-bg: transparent;
  --button-secondary-border: var(--color-primary-500);
  --button-secondary-text: var(--color-primary-700);

  --focus-ring: rgba(20, 184, 166, 0.4);
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  /* variable axis */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-secondary);
  background-color: var(--bg-page);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  margin: 0;
  font-weight: 500;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
}

p {
  margin: 0
}

input:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  border: 1px solid var(--border-default);
  padding: 0.4rem;
  border-radius: 0.3rem;
}

label {
  font-size: 0.8rem;
  color: var(--text-secondary);
}